apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "db.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "db.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "db.name" . }}
    spec:
      containers:
        - name: mysql
          image: mysql:9.2
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: {{ .Values.password | quote }}
            - name: MYSQL_USER
              value: {{ .Values.user | quote }}
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: data
              mountPath: /var/lib/mysql
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "db.fullname" . }}-pvc
