twitter-app:
  replicaCount: 2
  image:
    repository: rabiaadel/twitter-app
    tag: latest
  service:
    type: ClusterIP
    port: 8080
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi


db:
  replicaCount: 1
  storage: 1Gi
  user: root
  password: root
  persistence:
    enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi

monitoring:
  grafana:
    service:
      type: NodePort
      port: 3000
    adminUser: admin
    adminPassword: secret
  prometheus:
    service:
      type: NodePort
      port: 9090

global:
  env: production
  logLevel: info
