apiVersion: v1
kind: Service
metadata:
  name: twitter-app-{{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
  selector:
    app: twitter-app
