name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout Repo
      - name: Checkout
        uses: actions/checkout@v4

      # Setup Java
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Build Maven Project
      - name: Build with Maven
        run: |
          ./mvnw clean package -DskipTests

      # Login to DockerHub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build Docker Image
      - name: Build Docker Image
        run: |
          IMAGE_TAG=v${{ github.run_number }}
          docker build -t rabiaadel/final-project:$IMAGE_TAG .

      # Scan Docker Image with Trivy
      - name: Install Trivy
        uses: aquasecurity/trivy-action@v0.27.2 # Or the latest major version like v2
        with:
          version: '0.27.2' # Specify the desired Trivy version

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@v0.27.2
        with:
          image-ref: rabiaadel/final-project:v${{ github.run_number }}
          format: table
          exit-code: 1

      # Push Docker Image
      - name: Push Docker Image
        run: |
          IMAGE_TAG=v${{ github.run_number }}
          docker push rabiaadel/final-project:$IMAGE_TAG


