name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: |
          ./mvnw clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          IMAGE_TAG=v${{ github.run_number }}
          docker build -t rabiaadel/final-project:$IMAGE_TAG .

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@v1
        with:
          image-ref: rabiaadel/final-project:v${{ github.run_number }}
          format: table
          exit-code: 1   

      - name: Push Docker Image
        run: |
          IMAGE_TAG=v${{ github.run_number }}
          docker push rabiaadel/final-project:$IMAGE_TAG



