name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout Repo
      - name: Checkout
        uses: actions/checkout@v4

      # Setup Java
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Build Maven Project
      - name: Build with Maven
        run: |
          ./mvnw clean package -DskipTests

      # Login to DockerHub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build Docker Image
      - name: Build Docker Image
        run: |
          IMAGE_TAG=v${{ github.run_number }}
          docker build -t rabiaadel/final-project:$IMAGE_TAG .

      # Install Trivy
      - name: Install Trivy
        uses: aquasecurity/setup-trivy@v0.2.3
        with:
               version: '0.43.0'


      # Run Trivy scan
      - name: Run Trivy scan
        run: |
          IMAGE_TAG=v${{ github.run_number }}
          trivy image rabiaadel/final-project:$IMAGE_TAG

      # Push Docker Image
      - name: Push Docker Image
        run: |
          IMAGE_TAG=v${{ github.run_number }}
          docker push rabiaadel/final-project:$IMAGE_TAG
